.cart {
  background-color: var(--white-color);
  ul {
    display: none;
  }
  &__title {
    font-size: 1.7rem;
    color: var(--mainstream-color);
  }
  &__total {
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: 500;
    float: right;
  }
  #cart__total {
    color: var(--mainstream-color);
  }
}
